gymnasium
playwright==1.43.0
Pillow
evaluate
# openai==0.27.0
types-tqdm
tiktoken
aiolimiter
beartype==0.12.0
flask
nltk
text-generation
transformers==4.33.2
python-dotenv
generative-ai-hub-sdk==4.1.1
